<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/styles.css" />
  <title>Meta</title>
</head>

<body>
  <header>  
    <img src="assets/img/logo.svg" alt="logo meta">
    <h1>Meta</h1>
    <p>Desenvolvido por <a href="https://github.com/youssfbr">@youssfbr</a></p>   
  </header>

  <main>
    <section id="sales">
      <div class="container">
        <div class="card">
          <h2 class="sales-title">Vendas</h2>
          <div>
            <div class="form-control-container">
              <input type="text" class="form-control" placeholder="01/02/2022" />            
            </div>
            <div class="form-control-container">
              <input type="text" class="form-control" placeholder="01/02/2022" />            
            </div>
          </div>

          <div>
            <table>
              <thead>
                <tr>                  
                  <th>Vendedor</th>
                  <th>Total</th>
                  <th>Notificar</th>
                </tr>
              </thead>
              <tbody>
                <tr>                  
                  <td>Anakin</td>
                  <td>R$ 55300.00</td>
                  <td><img src="assets/img/notification-icon.svg" alt="Botão notificar" /></td>
                </tr>
                <tr>                  
                  <td>Anakin</td>
                  <td>R$ 55300.00</td>
                  <td><img src="assets/img/notification-icon.svg" alt="Botão notificar" /></td>
                </tr>
                <tr>                  
                  <td>Anakin</td>
                  <td>R$ 55300.00</td>
                  <td><img src="assets/img/notification-icon.svg" alt="Botão notificar" /></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </section>

  </main>

</body>

</html>