@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #000;
  color: #fff;
}

h1 {
 color: red;
}

a, a:hover, a:visited {
  color: unset;
  text-decoration: none;
}

header {  
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  padding-top: 28px;
}

header img {
  width: 235px;
  height: 106.07px;
}

header h1 {
  padding-top: 14.73px;
  font-size: 24px;
}

header p {
  padding-top: 4px;
  font-weight: 300;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;  
}

.card {
  background-color: #283142;
  border-radius: 10px;
}

#sales {
  padding: 40px 10px;

}

.sales-title {
  color: #676FFF;
  padding: 32px 36px 0 16px;
  font-size: 24px;  
  margin-bottom: 20.84px;
}

.form-control-container {
  padding: 0 10px 16px 10px;  
  max-width: 300px;  
}

.form-control {
  height: 46px;
  width: 100%;

  background: #1B2531;
  border: 1px solid #384459;
  border-radius: 5px;

  font-size: 18px;  
  font-weight: 400;  
  color: #9AAABE;
  
  padding: 0 21.33px;
}


