header {  
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  padding-top: 28px;
}

header img {
  width: 235px;
  height: 106.07px;
}

header h1 {
  padding-top: 14.73px;
  font-size: 24px;
}

header p {
  padding-top: 4px;
  font-weight: 300;
  font-size: 14px;
}